body {
    background-color: var(--bg-color);
    margin: 0;
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg-color: #191917;
    --text-color: #B4CBD2;
    --red-color : #BF2121;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

nav {
    position: sticky;
    background-color: var(--bg-color);
    width: 100%;
}

ul {
    margin: 0;
    margin-right: 50px;
    display: flex;
    align-items: center;
    padding: 3%;
    justify-content: space-between;
}

.search li{
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.nav-last {
    align-items: center;
}

.search img {
    width: 25px;
    padding: 10px;
}

.search img {
    width: 25px;
    padding: 10px;
    cursor: pointer;
}

.search input {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    width: 0;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
    padding: 0;
}

.search input.active {
    width: 200px;
    opacity: 1;
    padding: 5px;
    border-bottom: 1px solid var(--text-color);
}

.search input:focus {
    outline: none; 
}

.logo-nav {
    margin: 10%;
    width: 30%;
}

li {
    text-decoration: none;
    list-style: none;
}

ul div {
    gap: 100px;
    display: flex;
}

@media screen and (max-width: 600px) {
    ul div {
        gap: 30px;
    }

    
  }

.section-scroll {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 8vh;
    margin: 0 0 25px 0;
}

.section-scroll div {
    background-color: var(--bg-color);
    width: 20%;
    border-radius: 10px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.section-scroll div:hover {
    border: 1px solid var(--red-color);
    color: var(--red-color);
}

.div-container {
    margin: 0 25px;
    display: flex;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: auto;
    box-sizing: border-box;
}

.popular-list-container {
    display: flex;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: auto;
    box-sizing: border-box;
}

.popular-list {
    display: flex;
    gap: 2rem;
}

.movie-container {
    background-color: var(--gray-color);
    width: 200px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-content {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.title-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
    color: var(--dark-gray-color);
}

.title-rating h3 {
    font-size: 1rem;
    margin: 0;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-color);

}

.title-rating span {
    font-size: 0.8rem;
    margin-left: 10px;
    white-space: nowrap;
}

.arrow-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--text-color);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.arrow-btn:hover {
    background-color: var(--red-color);
    transform: translateY(-50%) scale(1.1); 
}

#arrow-left {
    left: 30px; 
}

#arrow-right {
    right: 30px; 
}

.arrow-btn i {
    font-size: 1.2rem;
}
